<html>
<head></head>

<body>

    <h1>Add movie</h1>


    <form method='POST' action="/add-movie" >

        <input type='text' name='movieName'/>
        <button>add</button>

    </form






</body>